/*
    VARIABLES
*/

$color-black1: #242424;
$color-blue1: #4f5769;
$color-blue2: #5371aa;
$color-blue3: #5d9ffa;
$color-gray1: #c9c9c9;
$color-gray2: #888888;
$color-gray3: #cecece;
$color-gray4: #dddddd;
$color-gray5: #434d51;
$color-gray6: #F2F2F2;
$color-orange1: #ea6a5a;
$color-green1: #09eac7;
$color-green2: #52C6B4;
$color-green2-dark :#3F998B;
$color-purple1: #7f06e6;
$color-red1:#C45041;
$color-caramel:#E0A546;
$color-darkblue:#4F5769;

$body-text-color: $color-gray5;
$breadcrumb-color: $color-gray1;
$breadcrumb-active-color: $color-blue1;
$modal-close-button-bgcolor:$color-red1;
$popup-tab-button-active-bgcolor:$color-caramel;
$modulebox-border-color:$color-gray3;
$picker-result-bgcolor:$color-gray6;
$picker-result-hover-bgcolor:$color-darkblue;
$picker-result-hover-border-color: $color-green1;


$popup-border-radius-size: 3px;